:root {
    --robotobold: RobotoBold;
    --robotomedium: RobotoMedium;
    --robotolight: RobotoLight;
}

@media(max-width: 576px) {
    #header {
        font-size: 13px !important;
    }

    #main {
        margin-top: 0px !important;

        .all {
            padding-top: 50px !important;

            .headp {
                font-size: 18px !important;
            }

            .form {
                padding: 10px !important;
                order: 1 !important;

                .description {
                    font-size: 14px !important;
                    margin-top: 43px !important;
                    padding: 4.5px 0 !important;

                    .openDesc {
                        font-size: 12px !important;
                    }
                }

                input[type="date"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    height: 30px;
                }

                .inpkeeper {
                    font-size: 13px !important;

                    .infoicon {

                        .showinfoprice {
                            opacity: 1 !important;
                            visibility: visible !important;
                        }

                        &:hover {
                            span {
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        span {
                            width: 140px !important;
                            font-size: 12px !important;
                            opacity: 0 !important;
                            visibility: hidden !important;
                        }
                    }

                    p {
                        font-size: 13px !important;
                    }

                    label {
                        font-size: 13px !important;
                    }

                    .biglabel {
                        margin-bottom: 10px !important;
                    }

                    .nextbiglabel {
                        text-align: center;
                    }

                    input[type="radio"] {
                        display: none;
                    }

                    .inplabelkeeper {
                        font-size: 14px !important;
                    }

                    select {
                        font-size: 14px !important;
                        -webkit-appearance: none;
                    }

                    input[type="number"] {
                        font-size: 14px !important;
                    }
                }

                button {
                    font-size: 14px !important;
                }
            }

            .reklam {
                order: 2 !important;
            }

            .resultkeeper {
                padding: 10px !important;
                order: 3 !important;

                .result {
                    font-size: 20px !important;
                    margin-bottom: 15p !important;
                }

                ul {
                    li {
                        font-size: 14px !important;

                        span {
                            &:nth-child(2) {
                                font-size: 16px !important;
                            }
                        }
                    }
                }

                .overall {
                    font-size: 14px !important;
                    padding: 10px Impo !important;

                    div {
                        &:nth-child(2) {
                            font-size: 18px !important;
                        }
                    }
                }
            }
        }
    }
}