:root {
    --robotobold: RobotoBold;
    --robotomedium: RobotoMedium;
    --robotolight: RobotoLight;
}

@media(max-width: 576px) {
    #header {
        font-size: 12px !important;
    }

    #main {
        margin-top: 0px !important;

        .all {
            padding-top: 60px !important;

            .headp {
                font-size: 18px !important;
            }

            .form {
                padding: 10px !important;

                .description {
                    font-size: 14px !important;
                    margin-top: 44px !important;
                    padding: 3.7px 0 !important;

                    .openDesc {
                        font-size: 12px !important;
                    }
                }

                .inpkeeper {
                    font-size: 13px !important;

                    p {
                        font-size: 13px !important;
                    }

                    label {
                        font-size: 13px !important;
                    }

                    .biglabel {
                        margin-bottom: 10px !important;
                    }

                    .nextbiglabel {
                        text-align: center;
                    }

                    input[type="radio"] {
                        display: none;
                    }

                    .inplabelkeeper {
                        font-size: 14px !important;
                    }

                    select {
                        font-size: 14px !important;
                    }

                    input[type="number"] {
                        font-size: 14px !important;
                    }
                }

                button {
                    font-size: 14px !important;
                }
            }
        }
    }
}