* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --robotobold: RobotoBold;
    --robotomedium: RobotoMedium;
    --robotolight: RobotoLight;
}

//#region imports
@import 'media';
//#endregion imports

//#region custom cols

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-1-2 {
    flex: 0 0 auto;
    width: 10%;
}

.col-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
}

.col-1-8 {
    flex: 0 0 auto;
    width: 15%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-2-1 {
    flex: 0 0 auto;
    width: 17.5%;
}

.col-2-3 {
    flex: 0 0 auto;
    width: 19.166%;
}

.col-2-5 {
    flex: 0 0 auto;
    width: 20.83333%;
}

.col-2-8 {
    flex: 0 0 auto;
    width: 23.3333333%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-3-5 {
    flex: 0 0 auto;
    width: 29.1666%;
}

.col-3-8 {
    flex: 0 0 auto;
    width: 31.666666%;
}

.col-3-9 {
    flex: 0 0 auto;
    width: 32.5%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-5-5 {
    flex: 0 0 auto;
    width: 45.833333%;
}

.col-5-8 {
    flex: 0 0 auto;
    width: 48.333333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-6-5 {
    flex: 0 0 auto;
    width: 54.166666%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-10-5 {
    flex: 0 0 auto;
    width: 87.5%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-1-8 {
    flex: 0 0 auto;
    width: 15%;
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-7-5 {
        flex: 0 0 auto;
        width: 62.5%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-0-5 {
        flex: 0 0 auto;
        width: 4.16666666%;
    }

    .col-lg-0-8 {
        flex: 0 0 auto;
        width: 6.6666%;
    }

    .col-lg-0-7 {
        flex: 0 0 auto;
        width: 5.83333%;
    }

    .col-lg-1-2 {
        flex: 0 0 auto;
        width: 10%;
    }

    .col-lg-1-5 {
        flex: 0 0 auto;
        width: 12.5%;
    }

    .col-lg-1-8 {
        flex: 0 0 auto;
        width: 15%;
    }

    .col-lg-2-2 {
        flex: 0 0 auto;
        width: 18.333333%;
    }

    .col-lg-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-lg-2-5 {
        flex: 0 0 auto;
        width: 20.8333333%;
    }

    .col-lg-2-8 {
        flex: 0 0 auto;
        width: 23.3333333%;
    }

    .col-lg-3-5 {
        flex: 0 0 auto;
        width: 29.16666666%;
    }

    .col-lg-3-8 {
        flex: 0 0 auto;
        width: 31.6666%;
    }

    .col-lg-4-5 {
        flex: 0 0 auto;
        width: 37.5%;
    }

    .col-lg-5-5 {
        flex: 0 0 auto;
        width: 45.8333%;
    }

    .col-lg-5-8 {
        flex: 0 0 auto;
        width: 48.3333333%;
    }

    .col-lg-5-9 {
        flex: 0 0 auto;
        width: 49.1666%;
    }

    .col-lg-6-5 {
        flex: 0 0 auto;
        width: 54.16666666%;
    }
}

//#endregion custom cols

#header {
    width: 100%;
    margin: 0;
    z-index: 400;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #E3F2FD;
    box-shadow: 0px 2px 20px 1px #c9e8ff;
    font-family: var(--robotobold);
    font-size: 18px;

    .all {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        margin: 0;
        padding: 0;
        padding: 7px 0;

        div {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}

#main {
    background-color: #F7F8FC;
    margin-bottom: 30px;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 70px;
        margin: 0;

        .form {
            display: flex;
            order: 1;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            font-family: var(--robotomedium);
            padding: 15px 20px;
            background-color: white;
            border: 0.5px solid rgba(163, 163, 163, 0.308);
            border-radius: 10px;

            .inpkeeper {
                font-size: 16px;
                padding-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                position: relative;

                .infoicon {
                    position: absolute;
                    right: 0%;
                    top: 28%;
                    text-align: end;
                    z-index: 5;

                    &:hover {
                        span {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    i {
                        font-size: 20px;
                        color: green;
                        cursor: pointer;
                    }

                    span {
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        top: 100%;
                        right: 0%;
                        font-size: 13px;
                        text-align: center;
                        color: black;
                        background-color: white;
                        font-family: var(--robotomedium);
                        line-height: 16px;
                        box-shadow: 0px 0px 4px 1px green;
                        border: 0.5px solid grey;
                        border-radius: 5px;
                        width: 165px;
                        padding: 3px;
                        height: fit-content;
                        transition: 0.2s;
                        display: block;
                    }
                }

                &:nth-child(1) {
                    padding-top: 0;
                }

                p {
                    margin-bottom: 4px;
                }

                label {
                    font-family: var(--robotolight);
                    cursor: pointer;
                    transition: 0.1s;
                    margin-bottom: 4px;
                }

                .biglabel {
                    margin-bottom: 12px;
                }

                input[type="radio"] {
                    display: none;
                }

                .inplabelkeeper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    padding: 4px 5px;
                    border: 0.5px solid grey;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.1s;

                    &:hover {
                        background-color: green;
                        color: white;

                        label {
                            transform: scale(1.1);
                        }
                    }
                }

                .isselected {
                    background-color: green;
                    color: white;
                }

                select {
                    border: 0.5px solid grey;
                    border-radius: 5px;
                    outline: none;
                    padding: 6px 5px;
                    cursor: pointer;
                    background-color: white;
                    color: black;
                    transition: 0.2s;

                    &:focus {
                        box-shadow: 0px 0px 3px 1px green;
                    }

                    &:hover {
                        border: 1px solid black;
                    }
                }

                .inputReadonly {
                    background-color: rgba(128, 128, 128, 0.5) !important;
                }

                input[type="number"],
                input[type="date"] {
                    border: 0.5px solid grey;
                    border-radius: 5px;
                    outline: none;
                    padding: 4px;
                    background-color: white;
                    color: black;
                    cursor: pointer;
                    transition: 0.2s;

                    &:focus {
                        box-shadow: 0px 0px 3px 1px green;
                    }

                    &:hover {
                        border: 0.5px solid black;
                    }
                }
            }

            .description {
                font-size: 16px;
                margin-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                border: 0.5px solid red;
                border-radius: 5px;
                padding: 4.5px 0;
                cursor: pointer;
                position: relative;

                .closed {
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.1s;
                    top: 20px;
                }

                .opened {
                    visibility: visible;
                    top: 40px;
                    transition: 0.1s;
                    opacity: 1;
                }

                .openDesc {
                    z-index: 300;
                    width: 210%;
                    height: fit-content;
                    position: absolute;
                    left: -109%;
                    transition: 0.2s;
                    background-color: white;
                    border: 0.8px solid black;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 13px;

                    a {
                        color: blue;
                        text-decoration: none;
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            button {
                margin-top: 15px;
                background-color: green;
                transition: 0.1s;
                color: white;

                &:hover {
                    background-color: rgb(0, 97, 0);
                }
            }
        }

        .reklam {
            order: 3;
            border: 0.5px solid grey;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            margin: 20px 0;

            a {
                width: 100%;
                padding: 0;
                margin: 0;

                img {
                    width: 100%;
                }
            }
        }

        .resultkeeper {
            display: flex;
            order: 2;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            font-family: var(--robotomedium);
            padding: 15px 20px;
            background-color: white;
            border: 0.5px solid rgba(163, 163, 163, 0.308);
            border-radius: 10px;
            font-family: var(--robotomedium);

            .result {
                font-size: 24px;
                margin: 0;
                padding: 0;
                margin-bottom: 30px;
            }

            ul {
                margin: 0;
                padding: 0;
                font-family: var(--robotolight);
                list-style: circle;
                width: 100%;

                li {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 7px 0;
                    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);

                    span {
                        &:nth-child(2) {
                            font-family: var(--robotomedium);
                            font-size: 18px;
                            color: green;
                        }
                    }
                }
            }

            .convertmoney {
                text-align: end;
                padding: 5px 0;
                margin: 10px 0;
                font-family: var(--robotomedium);
                font-size: 16px;
                color: green;
            }

            .overall {
                font-size: 16px;
                display: flex;
                width: 100%;
                font-family: var(--robotomedium);
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 30px;
                padding-bottom: 20px;
                border-top: 0.5px solid rgba(0, 0, 0, 0.3);

                div {
                    &:nth-child(2) {
                        text-align: end;
                        font-size: 24px;
                        color: green;
                    }
                }
            }
        }
    }
}